@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  text-decoration-color: black;
}

.purp{
  background-color: #4A4F8D;
}
.clip-custom {
  width: 500px;
    height: 500px;
    background-color: #4A4F8D;
    border-bottom-right-radius: 450px;
  
}

.must{
  background-color: #DB9F2F;
}
